include header.pug

<div class="container">
  p= userId
  <div class="row">
    <div class="col-12 my-5">
      if userType == 0
        .mb-3.text-center
          p.fs-3 Username
        each user, index in allusers
          p.my-4.text-center.border= user.username
          form(action=`/pages/message/toChat/${userId}/${user._id}`, method="get") 
            button.col-md-2.offset-md-5.btn.btn-success(type="submit") Chat 
        .mb-3.text-center
          a(href="/api/logout") Logout
      else if userType == 1
        .mb-3.text-center
          p.fs-3 Usernames
        each user, index in allusers  
          p.my-4.text-center.border= user.username
          button.col-md-2.offset-md-5.btn.btn-danger(onclick="DeleteUser(" + JSON.stringify(user) + ")") Delete 
          button.my-2.col-md-2.offset-md-5.btn.btn-success Chat
        .mb-3.m-4.text-center
          a(href="/api/logout") Logout
    </div>
  </div>
script.
  const userId = '#{userId}'
  console.log({ userId })
  function onChat (user) {
    console.log({ userId, userId2: user._id})
  }


      